/*------------------------------------*\
#LAYOUTCOVER
\*------------------------------------*/

$spacing-medium: 2rem;

.vrst-layout-cover {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.vrst-layout-cover > * {
  margin-top: #{$spacing-medium};
  margin-bottom: #{$spacing-medium};
}

.vrst-layout-cover > :first-child:not([data-position-center]) {
  margin-top: 0;
}

.vrst-layout-cover > :last-child:not([data-position-center]) {
  margin-bottom: 0;
}

.vrst-layout-cover > [data-position-center],
.vrst-layout-cover > :nth-last-child(n + 3) + * {
  margin-top: auto;
  margin-bottom: auto;
}
