import React from 'react';

import css from "./index.module.scss"

const {{pascalCase name}} = () => {
return (
<div className={ css.{{camelCase name}} }>
  <h1>{{upperCase name}}</h1>
</div>
)
}

export default {{pascalCase name}};
