/*------------------------------------*\
#MODAL
\*------------------------------------*/

.vrst-modal {
  // Write some styles
}

[class*="ReactModal__Body--open"] {
  overflow: hidden;
}

[class*="vrst-modal"][class*="ReactModal__Content"] {
  overflow: auto;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(black, 0.5);
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
}

[class*="vrst-modal-overlay"][class*="ReactModal__Overlay"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  background-color: rgba(black, 0.5);
  z-index: 10;
}
[class*="vrst-modal-overlay"][class*="ReactModal__Overlay--after-open"] {
  opacity: 1;
}

[class*="vrst-modal-overlay"][class*="ReactModal__Overlay--before-close"] {
  opacity: 0 !important;
}
